body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  background-color: #0a015e;
  /*background-image: linear-gradient(45deg, #c1c1c1 0%, #fff 34%, #c4c4cc 60%);;*/
}

.container{
  padding: 2rem;
  padding-bottom: 400px;
  margin: 0 auto;
  max-width: 800px;
}

.top-section{
  text-align: center;
  padding: 4rem 0;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.125rem;
}

.timeline{
  position: relative;
  min-height: 150px;
}

.line{
  position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 6px;
  top: -50px;
  background-color: rgb(0, 255, 34);
  display: none;
}

.line:before,
.line::after{
  position: absolute;
  display: block;
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
}

.line:after{
  bottom: 0;
}

.section{
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding: 1rem;
  align-items: center;
  min-height: 300px;
}

.section:nth-child(odd){
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.bead{
  position: relative;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #fff;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.content{
  width: calc(50% - 2rem);
  font-size: 1.175rem;
}

.show-me:nth-child(n){
  transform: none;
  opacity: 1;
}

h1{
  font-weight: 500;
  letter-spacing: 1px;
}
